<div class="container">
  <div class="row">
    <div class="col">

      <div class="card">
        <div class="card-header">
          Results
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Red Wins: <div id="red-wins"></div>
          </li>
          <li class="list-group-item">Black Wins: <div id="black-wins"></div>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-6">
      <div class="game">
        <div class="status">Your turn!</div>
      </div>
      <div id="gameNav">
        <form>
          <div class="form-group">
            <label for="shareUrl">Share URL:</label>
            <input type="text" name="shareUrl" id="shareUrl" readonly>
          </div>
        </form>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
    <div class="col">

      <div class="card">

        <div class="card-header">
          Recent Moves
        </div>
        <ul class="list-group list-group-flush overflow-auto">
          <div id="recent-move"></div>
        </ul>
      </div>

    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script src="/js/script.js"></script>