<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Ready To Play?
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
        <h2>Connect for More</h2>
                 
                <P>TWO PLAYER: To play with a friend share the link at the bototm of the game.
                </P>
                <p>MULTI-PLAYER: Users will submit their vote for the derisred move.  </p>
                <P>Once all votes/moves have been submited the highest submitted move will be made.</P>

                
                <p>(IF YOU DO NOT KNOW HOW TO PLAY CONNECT FOR, FEEL FREE TO GOOGLE IT.)</p>
      </p>
      <a href="game" class="btn btn-primary">Start the game!</a>
    </div>
  </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
