body {
  text-align: center;
}

.container {
  padding: 50px 0 50px 0;
}

#connect4 {
  background-color: green;
  display: inline-block;
  padding: 0px 20px;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}

.col.empty {
  cursor: pointer;
}

.next-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.next-black {
  background-color: rgba(0, 0, 0, 0.2);
}

.col.red {
  background-color: red;
}

.col.black {
  background-color: black;
}

.list-group-item {
  /* color: purple; */
  height: 50;
  /* font-size: 30px; */
}